@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.12.3.js"></script>
	<script>
		$(document).ready(function () {
			var ulCustomers = $("#Customer");

			$("#GetallData").click(function () {
				$.ajax({
					type: 'GET',
					url: 'http://localhost:2132/api/Demo',
					dataType: 'json',
					success: function (data) {
						ulCustomers.empty();
						$.each(data, function (index, val) {
							var name = val.customerName;
							ulCustomers.append('<li>' + name + '</li>');
						});
					}
				});
			});
		});
	</script>
</head>
<body>
	<input type="button" id="GetallData" value="Get All Data" />
	<ul id="Customer"></ul>
</body>
</html>
