@{
    ViewBag.Title = "About RaBlog";
}

<h2>About</h2>
<p>
     This is a live version of the article on www.dotnetcurry.com.

     Any data you add to this site has no guarantee as to how long it will be saved. So please don't use it as a pastebin.
</p>
